{% extends 'base.html' %}
{% from 'macros.html' import render_job %}

{% block title %}主页{% endblock %}

{% block body %}
  <h2><font color='FF6600'><center>=== 热门企业 ===</center></font></h2>
  <div class='row'>
    {% for company in companies %}
      <div class='col-sm-6 col-md-4 company'>
        <div class='thumbnail'>
          <a href="{{ url_for('company.detail', company_id=company.id) }}" target='_blank'>
            <img src="{{ company.companydetail.image_url }}" alt='公司logo' class='img-circle'>
            <div class='caption'>
              <h4 align='center' class='company_name'><font color='ff6600'>{{ company.name }}</font></h4>
              <p align='center'>{{ company.jobs | length }} 个热招职位</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  <p align='right'><a href="{{ url_for('company.index') }}" role='button'>查看更多&gt;&gt;&gt;&emsp;</a></p>
  <br><br>
  <h2><font color='008844'><center>=== 最新职位 ===</center></font></h2>
  <div class='job-list'>
    {% for job in jobs %}
      {{ render_job(job) }}
    {% endfor %}
  </div>
  <p align='right'><a href="{{ url_for('job.index') }}">查看更多&gt;&gt;&gt;&emsp;</a></p>


{% endblock %}
