
footer{  
    clear: both;  
    display: block;  
    text-align: center;   
    margin: 0px auto;  
    position: absolute;  
    bottom: 90px;  
    width: 100%;  
}

.form {
    width: 444px;
    margin: 0 auto;
}

a,
a:hover,
a:visited {
    text-decoration: none !important;
}

.company_name,
.company_description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.company img {
    height: 150px !important;
}

.company-meta {
    color: #999;
}

.job-list,
.company-list {
  margin-top: 15px;
}

.job-box {
    padding: 13px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.list-title {
  margin: 0 15px;
}

.company-item {
  text-align: center;
}

.nav-pagination {
    text-align: center;
}
