{% extends 'base.html' %}
{% from 'macros.html' import render_form, render_job %}
      
{% block title %}企业详情{% endblock %}
        
{% block body %}
  <div class='row'>
    <div class='col-md-3'>
      <img src="{{ company.companydetail.image_url }}" alt='logo' width='200'>
      <br><br>
    </div>
    <div class='col-md-9'>
      <h1><center><font color='deeppink'>{{ company.name }}</font></center></h1><br><br>
      <h4 align='center'>
        <span>类型：{{ company.companydetail.type }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>邮箱：{{ company.email }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>规模：{{ company.companydetail.staff_num }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>融资：{{ company.companydetail.finance }}</span>
      </h4>
      <br>
      <h3 align='center'><font color='ff4500'>公司简介</font></h3>
      <h4><p align='center'>{{ company.companydetail.about }}</p></h4><br>
      <h3 align='center'><font color='00bfff'>招聘职位</font></h3>
      <div class='job-list'>
        {% for job in company.jobs %}
          <div class='col-sm-6 col-md-4'>
            <a href="{{ url_for('job.detail', job_id=job.id) }}">
            <div class='job-box'>
              <div class='caption'>
                <p class='company_name' align='center'><font color='008844'><b>{{ job.name }}</b></font><p>
                <p><font color='444444'>{{ job.experience_requirement }} | {{ job.degree_requirement }} | {{ job.salary }}</font></p>
                <p><font color='444444'>{{ job.location }} | {{ job.release_time }}</font></p>
              </div>
            </div>
            </a>
          </div>
        {% endfor %}
      </div>

{% endblock %}

